
# PlanAhead Generated IO constraints 

NET "input[7]" IOSTANDARD = LVCMOS33;
NET "input[6]" IOSTANDARD = LVCMOS33;
NET "input[5]" IOSTANDARD = LVCMOS33;
NET "input[4]" IOSTANDARD = LVCMOS33;
NET "input[3]" IOSTANDARD = LVCMOS33;
NET "input[2]" IOSTANDARD = LVCMOS33;
NET "input[1]" IOSTANDARD = LVCMOS33;
NET "input[0]" IOSTANDARD = LVCMOS33;
NET "a" IOSTANDARD = LVCMOS33;
NET "an0" IOSTANDARD = LVCMOS33;
NET "an1" IOSTANDARD = LVCMOS33;
NET "an2" IOSTANDARD = LVCMOS33;
NET "b" IOSTANDARD = LVCMOS33;
NET "an3" IOSTANDARD = LVCMOS33;
NET "c" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "d" IOSTANDARD = LVCMOS33;
NET "e" IOSTANDARD = LVCMOS33;
NET "f" IOSTANDARD = LVCMOS33;
NET "g" IOSTANDARD = LVCMOS33;
NET "h" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "an0" LOC = D14;
NET "an1" LOC = G14;
NET "an2" LOC = F14;
NET "an3" LOC = E13;
NET "b" LOC = G13;
NET "c" LOC = N15;
NET "clk" LOC = T9;
NET "clr" LOC = L14;
NET "d" LOC = P15;
NET "e" LOC = R16;
NET "f" LOC = F13;
NET "g" LOC = N16;
NET "h" LOC = P16;
NET "input[7]" LOC = K13;
NET "input[6]" LOC = K14;
NET "input[5]" LOC = J13;
NET "input[4]" LOC = J14;
NET "input[3]" LOC = H13;
NET "input[2]" LOC = H14;
NET "input[1]" LOC = G12;
NET "input[0]" LOC = F12;
NET "a" LOC = E14;
